
<div class="adaptive-text-color">
    GROUPS
    <ng-container *ngIf="group$ | async as groupData">
      <div *ngFor="let group of groupData.groups">
        <a href="{{ group.path }}" target="_blank" rel="noopener" class="pill">
          <span _ngcontent-ng-c245922056="">{{ group.name }}</span>
          <svg _ngcontent-ng-c245922056="" xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path _ngcontent-ng-c245922056="" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z">
            </path>
          </svg>
            </a>
      </div>
    </ng-container>

    REPOS
    <ng-container *ngIf="group$ | async as groupData">
      <div *ngFor="let repo of groupData.repos">
        <a href="{{ repo.fullPath }}" target="_blank" rel="noopener" class="pill">
          <span _ngcontent-ng-c245922056="">{{ repo.name }}</span>
          <svg _ngcontent-ng-c245922056="" xmlns="http://www.w3.org/2000/svg" height="14" viewBox="0 -960 960 960" width="14" fill="currentColor">
            <path _ngcontent-ng-c245922056="" d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z">
            </path>
          </svg>
            </a>
      </div>
    </ng-container>

  </div>
